# datasets
*.json
*.m2
*.orig
**/raw_data/**

# entire wi+locness folder
**/wi+locness/**

# IDE files (PyCharm, Vscode, etc)
.idea/
.vscode/

# idk what is this
__pycache__/

# more data
*.csv
*.txt
*.png
*.xlsx